@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
/*body {
  background: #fafafa;
}*/
.navbar-brand {
  font-family: 'East Sea Dokdo', cursive;
  font-size: 35px;
  line-height: 16px;
}
.outline-none {
    outline: none!important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

.f10auto {
  flex: 1 0 auto;
}

.alert *:last-child {
  margin-bottom: 0;
}
